<setpagetitlerow thetitle="航运公司 - 台账"></setpagetitlerow>
<div class="auto-text-icon approve-add" ng-show="!ajaxing">
	<div class="right-sumbg">
		<div class="titlenew titlenew-bg">
			<span class="titlenew-span">复制详情</span>
		</div>
		<div class="modal-body" id="refernceBody">
			<form class="form-inline">
				<div class="col-lg-6">
					<label for="recipient-name" class="control-label text-left col-lg-12" ><em
						class="redcolor">*</em>副本名称: <input type="text"	class="width80b" ng-model="cols.dupName" readonly="readonly"></label>
				</div>
				<div class="col-lg-6 marginbot14">
					<label for="recipient-name col-lg-12" class="control-label text-left col-lg-12"><em
						class="redcolor">*</em>文本编号:<input type="text" class="width80b" readonly="readonly"  ng-model="cols.dupId" /></label>					
				</div>
			<div class="col-lg-6 marginbot14">
					<label for="recipient-name col-lg-12" class="control-label text-left col-lg-12"><em
						class="redcolor">*</em>是否有效:<input type="text" class="width80b" readonly="readonly"  ng-model="cols.isValid" /></label>					
				</div>
				<div class="col-lg-6 marginbot14">
					<label for="recipient-name col-lg-12" class="control-label text-left col-lg-12"><em
						class="redcolor">*</em>是否公开:<input type="text" class="width80b" readonly="readonly"  ng-model="cols.isPublic" /></label>					
				</div>
				<div class="col-lg-6 marginbot14">
					<label for="recipient-name col-lg-12" class="control-label text-left col-lg-12"><em
						class="redcolor">*</em>日期:<input type="text" class="width80b" readonly="readonly" ng-model="cols.dates" /></label>					
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>列名</th>
							<th>关联条件</th>
							<th>内容</th>
						</tr>
					</thead>
					<tbody id="referenceTbody">
						<tr ng-repeat="item in listData">
							<td>
								{{item.colName}}
							</td>
							<td>
								<input type="text" class="width80b" readonly="readonly"  ng-model="item.oper" />
							</td>
							<td><input type="text" class="width80b"ng-model="item.vlue"/></td>
						</tr>
						<div lines-input="columnNames"></div>
						<div lines-input="relationship"></div>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>


