
<div class="flex-v right-content " ng-show="!ajaxing">
	<div class="right-sumbg ">
		<div class="titlenew titlenew-bg">
			<span class="titlenew-span">员工管理</span>
			<button type="button" class="btn fr margin-right36 addbtn"
				ng-click="addUser()">
				<span class="fa fa-plus"></span>&nbsp;新增员工
			</button>
			<div class="col-lg-4  pull-right posrelative">
				<span class="glyphicon glyphicon-search form-control-feedback"
					id="searchIcons"></span> <input type="text"
					ng-keypress="search(name, $event)" ng-model="name"
					placeholder="请输入关键字"
					class="form-control  col-lg-12 height42 padding20" />
			</div>
			
			<div lines-input="linesInputspr"></div>
			<div lines-input="linesInputRole"></div>
			<div lines-input="linesInputShip"></div>
		</div>
		<div class="tabeleStyle">
			<table
				class="table table-hover  table-bordered table-striped my-table">
				<thead>
					<tr>
						<th class="col-lg-2">用户名</th>
						<th width="100px">所在船舶</th>
						<th>职务</th>
						<th width="100px">角色</th>
						<th class="col-lg-3 text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in listData">
						<td ng-bind="item.userId" style="display: none"></td>
						<td>{{item.userName}}</td>
						<td>{{item.shipName}}</td>
						<td>{{item.handleStr}} <a href="" class="remark_r"
							ng-if="item.handleStr" ng-click="delsprbd(item.userId)">x</a>
						</td>
						<td><span class="rolesName">{{item.roles}}</span> <!-- <a href="" class="remark_r" ng-if="item.roles" ng-click="delsRole(item.userId)">x</a> -->
						</td>
						<td class="selall text-center"><a href="" class="addbtn2"
							ng-click="checkspr(item.userId,item.handleStr)">&nbsp;&nbsp;&nbsp;&nbsp;增加职务</a>&nbsp;&nbsp;
							<a href="" ng-click="resetPwd(item.userId)">&nbsp;&nbsp;&nbsp;&nbsp;重置密码</a>&nbsp;&nbsp;
							<a href="" ng-click="remove(item.userId)">&nbsp;&nbsp;&nbsp;&nbsp;删除</a>&nbsp;&nbsp;
							<!-- <a href="" class="addbtn2" ng-click="checkrole(item.userId,item.roles)">&nbsp;&nbsp;&nbsp;&nbsp;增加角色</a> -->
						</td>
					</tr>
				</tbody>
			</table>
			<div class="marginright20 marginbot20">
				<div class="text-right">
					<button ng-click="save()" type="button"
						class="btn save-btn btn-size1">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
				</div>
			</div>
			<!-- 分页 功能begin  -->
			<div class="margin-bottom42">
			<div id="pageTool"></div>
		  <!-- <div id="pageToolbar"></div> -->
			</div>
			<!-- 分页功能 end -->
		</div>
	</div>
</div>
<div ng-include="'../pgy-web-1.0/ui/addUserAlert.html'"></div>

