
  			
<div class="modal-content">
	<div parent-dragable=3 class="modal-header modal-primary">
		<button type="button" class="close" data-dismiss="modal">
			<span ng-click="cancel()">×</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title pull-left">{{data.title}}</h4>
	</div>	
	<div class="modal-body min-height120 text-center">
		<div class=" form-horizontal" >
			{{data.textdata}}
		</div>	
	</div>
	<div class="modal-footer text-center">
		<button type="button" class="btn save-btn btn-size1" ng-click="ok()" >确定</button>
	</div>
</div>

